{% extends "core/base.html" %} {% load static %} {% block content %}
<div class="mt-5 text-center">
  <div class="text-center">
    <img src="{% static "core/images/man.jpeg" %}" alt="" class="img-thumbnail"
    width="250px" height="150px">
  </div>
  <div class="text-white mx-5">
    <h1 class="font-weight-bold"></h1>
    <div>
      <p>
        John Smith is a highly skilled software developer with over 7 years of
        experience in the IT industry. He graduated with honors from a reputable
        university, where he studied computer science and honed his programming
        skills. John's work primarily involves designing and developing software
        applications for a technology company. He's proficient in multiple
        programming languages, including Python, Java, and C++, and has a knack
        for problem-solving and creating efficient, user-friendly software
        solutions.
      </p>
      <p>
        In his spare time, John enjoys exploring the latest advancements in
        technology, contributing to open-source projects, and attending tech
        meetups and conferences to network with fellow professionals in the IT
        field. He is a dedicated and passionate IT enthusiast who is constantly
        seeking to expand his knowledge and skills to stay at the forefront of
        the ever-evolving tech industry.
      </p>
    </div>
  </div>
  <div class="text-center">
    <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5"
      >Hire Me</a
    >
    <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5"
      >Contact</a
    >
  </div>
</div>

{% endblock content %}
